# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.*

# Go
bin/
dist/
*.exe
*.test

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Docker
*.log
docker/*.env
.docker/
redis_data/
postgres_data/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
