[supervisord]
nodaemon=true

[program:postgres]
command=/usr/local/bin/docker-entrypoint.sh postgres
environment=POSTGRES_USER=admin,POSTGRES_PASSWORD=admin123,POSTGRES_DB=microservices_db
directory=/var/lib/postgresql/data
stdout_logfile=/app/postgres.log
stderr_logfile=/app/postgres-error.log

[program:redis]
command=redis-server
stdout_logfile=/app/redis.log
stderr_logfile=/app/redis-error.log

[program:api-gateway]
command=/app/api-gateway/api-gateway
stdout_logfile=/app/api.log
stderr_logfile=/app/api-error.log

[program:product]
command=python3 /app/product-service/main.py
stdout_logfile=/app/product.log
stderr_logfile=/app/product-error.log

[program:inventory]
command=/app/inventory-service/inventory-service
stdout_logfile=/app/inventory.log
stderr_logfile=/app/inventory-error.log
