name: Deploy DEV

on:
  push:
    branches: [ "develop" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
        aws-region: us-east-1

    - uses: hashicorp/setup-terraform@v3

    - name: Terraform init
      working-directory: ./infra
      run: |
        terraform init -reconfigure \
        -backend-config="bucket=stockwiz-tfstate" \
        -backend-config="key=dev/terraform.tfstate" \
        -backend-config="region=us-east-1" \
        -backend-config="encrypt=true"

    - name: Terraform apply
      working-directory: ./infra
      run: terraform apply -auto-approve -var-file="env/dev.tfvars"

    - name: Login ECR
      id: ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build & push full container
      run: |
        REG="${{ steps.ecr.outputs.registry }}"

        docker build -t $REG/stockwiz-dev/fullstack:dev-latest .
        docker push  $REG/stockwiz-dev/fullstack:dev-latest
    
    - name: Terraform apply
      working-directory: ./infra
      run:  terraform apply -auto-approve \
          -var-file="env/dev.tfvars" \
          -var="full_image=${{ steps.ecr.outputs.registry }}/stockwiz-dev/fullstack:dev-latest"

    - name: Update ECS service
      run: |
        aws ecs update-service \
          --cluster stockwiz-dev-cluster \
          --service stockwiz-dev-svc \
          --force-new-deployment

