name: Deploy DEV

on:
  push:
    branches: [ "develop" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    #############################################
    # CHECKOUT
    #############################################
    - name: Checkout repository
      uses: actions/checkout@v4

    #############################################
    # AWS CREDENTIALS
    #############################################
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
        aws-region: us-east-1

    #############################################
    # TERRAFORM INIT
    #############################################
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform init
      working-directory: ./infra
      run: |
        terraform init -reconfigure \
          -backend-config="bucket=stockwiz-tfstate" \
          -backend-config="key=dev/terraform.tfstate" \
          -backend-config="region=us-east-1" \
          -backend-config="encrypt=true"

    #############################################
    # ECR LOGIN
    #############################################
    - name: Login to ECR
      id: ecr
      uses: aws-actions/amazon-ecr-login@v2

    #############################################
    # BUILD & PUSH FULLSTACK IMAGE
    #############################################
    - name: Build & push fullstack container
      run: |
        REG="${{ steps.ecr.outputs.registry }}"
        
        # Build
        docker build -t $REG/stockwiz-dev/fullstack:dev-latest .

        # Push
        docker push $REG/stockwiz-dev/fullstack:dev-latest

    #############################################
    # TERRAFORM APPLY (CON IMAGEN REAL)
    #############################################
    - name: Terraform apply with image
      working-directory: ./infra
      run: terraform apply -auto-approve \
        -var-file="env/dev.tfvars" \
        -var="full_image=${{ steps.ecr.outputs.registry }}/stockwiz-dev/fullstack:dev-latest"

    #############################################
    # ECS DEPLOY
    #############################################
    - name: Update ECS service
      run: |
        aws ecs update-service \
          --cluster stockwiz-dev-cluster \
          --service stockwiz-dev-svc \
          --force-new-deployment
