name: Destroy AWS Infrastructure

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment to destroy (dev/test/prod)"
        required: true
        type: choice
        options:
          - dev
          - test
          - prod
      confirm_destroy:
        description: 'Type "destroy" to confirm'
        required: true
        type: string

env:
  AWS_REGION: us-east-1

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
    - name: Validate confirmation
      run: |
        if [ "${{ github.event.inputs.confirm_destroy }}" != "destroy" ]; then
          echo "Destruction cancelled."
          exit 1
        fi
        echo "Confirmation OK"

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init (remote backend)
      working-directory: ./infra
      run: |
        terraform init -reconfigure \
          -backend-config="backend-config/${{ github.event.inputs.env }}.hcl"

    - name: Terraform Destroy
      working-directory: ./infra
      run: |
        terraform destroy \
        -auto-approve \
        -var-file="env/${{ github.event.inputs.env }}.tfvars" \
        -var="account_id=${{ secrets.AWS_ACCOUNT_ID }}"


    - name: Destroy complete
      run: echo "Environment destroyed successfully!"

