name: Destroy DEV Infra

on:
  workflow_dispatch:

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
        aws-region: us-east-1

    - uses: hashicorp/setup-terraform@v3

    - name: Terraform destroy
      working-directory: ./infra
      run: |
        terraform init -reconfigure \
          -backend-config="bucket=stockwiz-tfstate" \
          -backend-config="key=dev/terraform.tfstate" \
          -backend-config="region=us-east-1" \
          -backend-config="encrypt=true"

        terraform destroy -auto-approve -var-file="env/dev.tfvars"





