name: CI - Dev

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - run: docker compose build

  static_checks:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4

      # Python (product-service)
      - name: Lint Python (flake8)
        run: |
          pipx install flake8
          flake8 product-service || true

      # Go (api-gateway, inventory-service)
      - name: Go vet (api-gateway)
        working-directory: ./api-gateway
        run: go vet ./... || true

      - name: Go vet (inventory-service)
        working-directory: ./inventory-service
        run: go vet ./... || true

  test:
    runs-on: ubuntu-latest
    needs: [build, static_checks]
    steps:
      - uses: actions/checkout@v4

      - run: |
          docker compose up -d
          sleep 20
          docker compose ps

      - name: Smoke health (chequeo de salud)
        run: |
          set -e
          curl -fsS http://localhost:8000/health
          curl -fsS http://localhost:8001/health
          curl -fsS http://localhost:8002/health

      - if: always()
        run: docker compose down -v

  push_ecr_dev:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials (dev)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        id: ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push to ECR (dev-latest)
        run: |
          set -e
          REG="${{ steps.ecr.outputs.registry }}"

          docker build -t $REG/stockwiz-dev/api-gateway:dev-latest ./api-gateway
          docker push  $REG/stockwiz-dev/api-gateway:dev-latest

          docker build -t $REG/stockwiz-dev/product-service:dev-latest ./product-service
          docker push  $REG/stockwiz-dev/product-service:dev-latest

          docker build -t $REG/stockwiz-dev/inventory-service:dev-latest ./inventory-service
          docker push  $REG/stockwiz-dev/inventory-service:dev-latest
